/* NORMALIZE
 * From Bootstrap Customizer : http://getbootstrap.com/customize/?id=d9da7dd8f7f2dfe929ab765f2e1492b4
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}


/* 112HELP
 */
body {
  background: #000;
  color: #fff;
  text-align: center;
}
#logo {
  font-size: 1.5em;
  margin-top: 10px;
  color: #f00;
}
#location {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
#location div {
  clear: both;
}
#location label. {
  float: left;
  width: 60%;
}
#location input {
  float: right;
  width: 40%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #000;
  color: #fff;
}
#info textarea {
  width: 100%;
  resize: vertical;
}

#urgence {
  text-align: left;
}
#urgence label {
  line-height: 35px;
}

#send {
  text-align: center;
  margin: 15px 0;
}
#send > button {
  text-align:center;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color:#fe1a00;
  border-radius:50%;
  width:200px;
  height:200px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-weight:bold;
  font-size: 1.2em;
  padding:15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
#send > button:hover {
  background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color:#ce0100;
}
#send > button:active {
  position:relative;
  top:1px;
}

#send-info {
  margin: 15px 0;
}
#send-info > button {
  width: 100%;
  background: #ccc;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size:1.1em;
}

#send-ok {
  margin: 15px 0;
}
#send-ok > button {
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:linear-gradient(to bottom, #00cc00 5%, #009900 100%);
  background-color:#009900;
  width:100%;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-weight:bold;
  padding:15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
#send-ok > button:hover {
  background: linear-gradient(to bottom, #009900 5%, #00cc00 100%);
  background-color: #00CC00;
}
#send-ok > button:active {
  position:relative;
  top:1px;
}

.legal {
  font-size: 0.8em;
  font-style: italic;
}


/*
form ul {
  text-align: left;
  list-style: none;
  margin:15px 0;
  padding: 0;
  clear: both;
}
form ul.checkbox > li {
  float: left;
}
form ul.checkbox > li > label {
  display: table-cell;
  vertical-align: middle;
  width: 130px;
  height: 30px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px;
}
address,
input {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
}
textarea {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #808080;
  border-radius: 3px;
  resize: vertical;
}

table {
  width: 100%;
}

.itsok {
  font-size: 1em;
  font-style: normal;
}


*/